@import 'variables';

.body {
  &.--home {
    .header {
      position: fixed;
    }
  }
}

.header {
  background-color: rgba($black, .8);
  backdrop-filter: blur(4px);
  color: $white;
  width: 100%;
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 2;

  .row {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;

    > .right {
      > .list-nav {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: $row;

        @include media("xs") {
          display: none;
        }

        > .item {
          display: flex;

          &:hover {
            &:not(:last-of-type) {
              > .anchor {  
                &:after {
                  width: 100%;
                }
              }
            }
          }

          &:not(:last-of-type) {
            > .anchor {
              display: flex;
              flex-direction: column;

              &:after {
                background-color: $white;
                content: "";
                height: 2px;
                width: 0;
                transition: width $transition;
              }
            }
          }
        }
      }
    }
  }
}